

    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock  ms-2" style=" color: #0084bd"></small>
                    <small>{{'topBar.heurDayStart'|translate}}</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center ms-4">
                    <a class=" btn-sm-square rounded-circle bg-white  ms-1" href=""><i class="fab fa-facebook-f "></i></a>
                    <a class=" btn-sm-square rounded-circle bg-white  ms-1" href=""><i class="fab fa-twitter "></i></a>
                    <a class=" btn-sm-square rounded-circle bg-white  ms-1" href="  "><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn-sm-square rounded-circle bg-white  ms-0" href=""><i class="fab fa-instagram "></i></a>
                    <a class=" btn-sm-square rounded-circle bg-white  ms-0" href=""><i class="fab fa-tiktok "></i></a>
                    <a class=" btn-sm-square rounded-circle bg-white  ms-0" href=""><i class="fab fa-youtube "></i></a>
                
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3 me-4 ">
                    <small><a  href="tel:+(966) 11 467 7580" dir="ltr" style=" color:grey" >{{'footer.phoneNumber1'|translate}}</a></small>

                    <small class="fa fa-phone  me-2" style=" color: #0084bd"></small>

                </div>
               
            </div>
        </div>
    </div>
    <!-- Topbar End -->
