<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4" >
            <div class="col-lg-6 wow fadeIn mx-auto" data-wow-delay="0.1s" style="border-radius: 10px;box-shadow: 1px 2px 1px 2px #ccc;">
                <div class="bg-light rounded p-5 pt-3">
                    <h1 class="mb-4 text-center">{{"UserInfo.forgetPassword"|translate}}</h1>
                    <h1 class="mb-5 mt-4 ">  <hr >
                    </h1>
                    <form  [formGroup]="forgotPasswordForm"  (ngSubmit)=" forgotPasse()" >
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating ">
                                    <input type="text" class="form-control" formControlName="email" id="email" placeholder="{{'UserInfo.EmailAddress'|translate}}"  >
                                    <label for="email" class="rtl" style="direction: rtl;text-align: right;">{{'UserInfo.EmailAddress' |translate}} </label>
                                </div>
                            </div>
                            
                         
                            <div class="col-3 mt-4">
                                <button type="submit" class="btn "  style="color: #fff;background-color: #0084bd;">{{'UserInfo.logIn'|translate}}</button>
                            </div>
                            <div class="col-4 mt-4">
                                <button (click)="onReset($event)" class="btn btn-warning" style="color: #fff">{{'UserInfo.reset'|translate}}</button>
                            </div>
                            <div class="col-12 mt-5">
                                <h5 class=" w-100 py-3 text-center" >{{"UserInfo.alreadyHaveAnAccount"|translate}}
                                    <i class="fa fa-hand-point-left" style="color: #0084bd;"></i>
                                    <a [routerLink]="['/login']">{{'UserInfo.login'|translate}}</a> </h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
