<!-- Footer Start -->
<div class="container-fluid text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s" style="background-color: #0084bd;" >
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">{{'footer.contactUs'|translate}}</h5>
                <p class="mb-2"><i class="fa fa-phone-alt ms-3"></i><a dir="ltr" href="tel:+(966) 11 467 7580" style="color: #fff;">{{'footer.phoneNumber1'|translate}}</a></p>
                <p class="mb-2"><i class="fa fa-phone-alt ms-3"></i><a dir="ltr" href="tel:+(966) 11 467 0000" style="color: #fff;">{{'footer.phoneNumber2'|translate}}</a></p>
                <p class="mb-2"><i class="fa fa-fax ms-3"></i><a href="fax:P.BOX 145111 ZIP 4545" style="color: #fff;">{{'footer.fax'|translate}}</a></p>

                <p class="mb-2"><i class="fa fa-envelope ms-3"></i>{{'footer.emailAddress'|translate}}</p>
                
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">{{'footer.UniversityApplication'|translate}}</h5>
                <a class="btn btn-link" href=""><i class="fab fa-google-play  ms-2"></i>{{'footer.StaffE-services'|translate}}</a>
                <a class="btn btn-link" href=""><i class="fab fa-google-play  ms-2" ></i>{{'footer.StudentsE-services'|translate}}</a>
                <a class="btn btn-link" href=""><i class="fab fa-google-play  ms-2"></i>{{'footer.AyatApp'|translate}}</a>
               
            </div>
           
            <div class="col-lg-4 col-md-6">
            
                <div class="position-relative mx-auto" >
                 <a href="https://www.topuniversities.com/universities/king-saud-university">  <img [src]="imgFooter"  class="img-fluid"/></a> 
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-end mb-3 mb-md-0 order-md-1">
                   {{'footer.allRightReserved'|translate}}
                </div>
                <div class="col-md-2 d-inline-flex align-items-left text-md-start  order-md-2">
                </div>
                <div class="col-md-4 d-inline-flex align-items-left text-md-start  order-md-3">
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href=""><i class="fab fa-tiktok "></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle me-2" href=""><i class="fab fa-youtube "></i></a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Footer End -->
<!-- Back to Top -->

<button appScrollToTop class="back-to-top btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></button>

